<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "Lifestyle Park",root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <p class="navbar-text float-right">

        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-search"></i> Search
          </a>
        </li>
      <% if user_signed_in? %>

      <li class="nav-item">
          <%= link_to 'Write an Article', new_article_path, class: 'nav-link'%>

      </li>

      <li class="nav-item">
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link btn btn-dark'  %>
      </li>
      <% else %>


      <li class="nav-item">
        <%= link_to "Sign In", new_user_session_path, :class => 'navbar-link btn btn-dark'  %>
      </li>

      <li class="nav-item">
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link btn btn-outline-light'  %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>
